#signup-form input[type="text"],
textarea {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s;
  border: 0.2rem solid rgb(175, 174, 174);
}
#signup-form input[type="submit"]:hover {
  background-color: #ffb213;
}
#signup-form input[type="submit"] {
  border-radius: 0.5rem;
  outline: 0;
  border: 0.2rem solid rgb(175, 174, 174);
}
.contact {
  display: flex;
  justify-content: space-around;
}
.container {
  border: 0.2rem solid #ffb213;
  border-radius: 2rem;
  margin-right: 2rem;
}
.form-contact {
  padding: 1rem;
}
#map {
  /* width: 50rem;
  height: 50rem; */
}
