.baner {
  width: 100%;
  border-radius: 1.5rem;
  margin: 0.5rem;
}
.baner_sale {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/noel/Tagline/TGDD/tagline_desktop.png);
  background-size: 100%;
  border-radius: 1.5rem;
  padding: 1em;
  color: white;
  margin: 4em 0;
}
h1 {
  position: relative;
  text-align: center;
  z-index: 100;
}
.slide-container {
  width: 100%;
  border-radius: 1.5rem;
}
.slide-item {
  width: 100%;
  border-radius: 1.5rem;
  margin: 0.5rem;
}
.slide-item > img {
  width: 100%;
  height: 45em;
  border-radius: 1.5rem;
}
.slick-arrow {
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
}
.slick-arrow > i {
  color: black;
}
.slick-arrow:hover {
  background-color: #ffb213;
}
.slick-arrow:hover i {
  color: #fff;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 1;
}
.slick-next {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 1;
}
.slick-dots {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
}
.slick-dots button {
  font-size: 2em;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  outline: none;
  border: none;
  background-color: rgb(160, 160, 160);
}
.slick-dots .slick-active button {
  background-color: #ffb213;
}
.flash-sales {
  width: 100%;
  border-radius: 1.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0 2rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
}
.flash-sales-items {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
  border-radius: 1.5rem;
  height: 35rem;
  margin: 1rem 0;
}
.flash-sales-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  color: #ffb213;
  margin: 2rem 0;
}
.flash-sales-title > i {
  transform: rotate(10deg);
  color: #ffb213 !important;
  font-size: 3rem;
}
.flash-sales-items img {
  height: 70%;
  width: 90%;
  gap: 0 2rem;
  border-radius: 8px;
  border-radius: 2rem;
}
.flash-sales button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%, 100%);
  margin: 0;
}
.flash-sales .slick-slide {
  margin: 0 2rem;
}
.flash-sales .slick-list {
  margin: 0 4rem;
}
.flash-sales-items .title {
  font-size: 1.5rem;
}
.old-price {
  font-size: 1.2rem;
}
.new-price {
  font-size: 1.2rem;
}
.price {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.7rem;
  justify-content: center;
  gap: 0 2rem;
}
